<nav class="navbar navbar-expand-md navbar-light bg-dark">
    <a href="/" class="navbar-brand"><img src="images/home/logo.png"></a>
    <ul class="navbar-nav">
        <a href="/admin">เข้าสู่ระบบหลังบ้าน </a>
    </ul>
</nav>